header img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 20px solid #1C0001 
}

.bg-primary {
    background-color: #BB3D02 !important;
}

h1, h2, .navbar-brand, .cute-font {
    font-family: 'Righteous', cursive;
}

h2 {
    color: #6B120E;
}

footer {
    background-color: #BB3D02;
    text-align: center;
    padding: 30px;
}

footer p {
    margin: 0;
}

